* {
  margin: 0;
  padding: 0; /*sirve para quitar el estilo default del navegador*/
}

html, body {
  font-size: 18px;
  background-color: #f5f6f7;
}

h1 {
  max-width: 940px; /*este es el ancho maximo del h1*/
  font-size: 2.5em; /*em se refiere a una referencia al tamaño establecido*/
  font-family: Lato, sans-serif; /*Lato es la letra, si no esta disponible o no lo reconoce el navegador se mostrara sans serif*/
  font-weight: 700; /*este es el peso de la letra*/
  line-height: 1.1; /*El espacio entre lineas*/
  margin: 40px 0;
}

.App {
  min-height: 100vh; /*esto indica que se adapta a la altura del navegador y que minimo toma el 100% de la altura*/
  display: flex;
  flex-wrap: wrap; /*si un elemento toma todo el ancho del contenedor los demas elementos se van a ubicar debajo de el*/
  align-items: center; /*centrarlos verticalmente*/
  justify-content: center; /*centrarlos horizontalmente*/
  text-align: center; /*centrar el texto*/
}

.container {
  min-height: 600px; /*altura minima*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}